* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-container {
    background-image: url('archives.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire container */
    background-position:50% 30%;
    background-repeat: no-repeat;
    height: 50vh; /* Covers the upper half of the viewport */
    width: 100%; /* Full width */
}

.welcome-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-top: solid #ffa700;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome-box p {
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}


header{
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d63600;
    padding: 10px 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover {
color: #000000;
}

.navbar2 {
    color: #8c8c8c7e;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.navbar2 a{
    color: rgb(99, 99, 99);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #333;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-active {
        display: flex;
    }
}
footer {
    background-color: #333; /* Dark background */
    color: white; /* White text color */
    text-align: left; /* Center text */
    padding: 30px; /* Add some padding */
    position: absolute; /* Positioning */
    bottom: 3px; /* Stick to the bottom of the page */
    left: 0; /* Align it to the left */
    width: 100%; /* Full width */
    height: 80px; /* Set height (adjust as needed) */
}

.footer-content {
    max-width: 1200px; /* Optional: set a max width */
    margin: auto; /* Center the content */
}
